<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326692148381-p99avpqsegoqfsglgdc16m5k8jquflge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326692148381-p99avpqsegoqfsglgdc16m5k8jquflge</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>326692148381-7p7s55qm850vfmitok0idqsp6l2qmp25.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBov6g8mnDqkp7OycpPWXEPzjmhh10kWBM</string>
	<key>GCM_SENDER_ID</key>
	<string>326692148381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AwesomeProject</string>
	<key>PROJECT_ID</key>
	<string>react-native-c99ff</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-c99ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326692148381:ios:8255473a0b47ed31fb7074</string>
	<key>DATABASE_URL</key>
	<string>https://react-native-c99ff.firebaseio.com</string>
</dict>
</plist>